
.player{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid gray;
  justify-content: center;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.cart{
  width:25%;
}